<mvc:View 
	xmlns:mvc="sap.ui.core.mvc" 
	xmlns="sap.m" 
	controllerName="${1:namespace}.App" 
	displayBlock="true">
	<Shell>
		<App>
			<Page title="{i18n>TITLE}" backgroundDesign="Solid">
				<subHeader>
					<Button text="Button" width="100px" id="__button0" type="Emphasized"/>
				</subHeader>
				<content></content>
				<footer>
					<Bar>
						<contentMiddle></contentMiddle>
						<contentRight></contentRight>
					</Bar>
				</footer>
			</Page>
		</App>
	</Shell>
</mvc:View>