sap.ui.define([
    "sap/ui/base/Object"
], function (BaseObject) {
    "use strict";

    var ${2:${TM_FILENAME_BASE:CustomObject}} = BaseObject.extend("${1:namespace.}${2}", {
        constructor: function () {
            BaseObject.call(this);
        }
    });

    ${2}.prototype.customMethod = function () {
    }

    return ${2};
});