sap.ui.define([,
    "sap/ui/base/Object"
], function (BaseObject) {
    "use strict";

    var ${1:CustomObject} = BaseObject.extend("${2:namespace.}${1:CustomObject}", {
        constructor: function () {
            BaseObject.call(this);
        }
    });

    ${1}.prototype.customMethod = function () {
    }

    return ${1};
});